body{
	background: url(images/pic.jpg)
				no-repeat center center fixed;
	opacity: 0.8;
}

div{
	background-color: black;
	text-align: center;
}

.navbarSetting{
	text-align: center;
}

h2{
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}

h3{
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: 10px;
}

.btnMargin{
	margin-top: 30px;
	margin-bottom: 100px;
}

.btnMargin2{
	margin-top: 30px;
	margin-bottom: 20px;
}

.containerStyle{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 30%;
}

.rowMargin{
	padding-top: 20px;
}
